* {margin: 0; padding: 0;}

body{
  font-color: red;
	margin: 30px auto;
}
<<<<<<< HEAD:style.css

h1{
	text-align: center;

}

#left {
	float: left;
	width: 88%;

}

#maincategory {

	width: 12%;
	float: left;

}

#category {

margin: 20px auto;
text-align: center;
width: 50%;

}

#probox {
	margin: 10px 5px;
	text-align: center;
	height: 400px;
	width: 250px;
	border: 1px black solid;
	float: left;
	border-radius: 5px;
}

#probox > img {
	margin-top: 5px;
	width: 175px;

}

#price {
margin-top: 30px;
}

#products {
	margin: 10px 10px;
	text-align: center;
	height: 350px;
	width: 250px;
	border: 1px black solid;
	float: left;
	border-radius: 5px;
}

#products > img {
	margin-top: 5px;
	width: 175px;

}
=======
>>>>>>> e56d4b587182c0d2cc36ca04644d43c105902d4d:css/style.css
