* {
    margin: 0;
    padding: 0;
}

body {

    margin: 30px auto;
}

h1 {
    text-align: center;

}

#left {
    float: left;
    width: 88%;

}

#cleft {
    float: left;
    width: 50%;
}

#maincategory {

    width: 12%;
    float: left;

}

#category {

    margin: 20px auto;
    text-align: center;
    width: 50%;

}

#container {
    border: 1px dashed #CCC;
    width: 1050px;
    float: left;
    margin-left: 5%;

}

#probox {
    margin: 10px 5px;
    text-align: center;
    height: 400px;
    width: 250px;
    border: 1px black solid;
    float: left;
    border-radius: 5px;
}

#probox > img {
    margin-top: 5px;
    width: 175px;

}

#price {
    margin-top: 30px;
}

#products {
    margin: 10px 10px;
    text-align: center;
    height: 350px;
    width: 250px;
    border: 1px black solid;
    float: left;
    border-radius: 5px;
}

#products > img {
    margin-top: 5px;
    width: 175px;

}

#desc {
    margin-top: 50px;
    margin-left: 20px;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px black solid;

}

#leftpart {

    float: left;
    width: 40%;
}

#rightpart {
    border-left: 1px solid black;
    float: left;
    width: 30%;
}

.link{
    color: #FFF;
}

.link:hover {
    color: #FFF;
    text-decoration: underline;
}

#arrows{
    font-size: 40px;
    text-align: center;
}

div#probox:nth-child(-n+5){

    display: none;

}