* {
    margin: 0;
    padding: 0;
}

body {

    margin: 30px auto;
}

h1 {
    text-align: center;

}

#left {
    float: left;
    width: 88%;

}

#cleft {
    float: left;
    width: 50%;
}

#maincategory {

    width: 12%;
    float: left;

}

#category {

    margin: 20px auto;
    text-align: center;
    width: 50%;

}

#container {
    border: 1px dashed #CCC;
    width: 1050px;
    float: left;
    margin-left: 5%;

}

#probox {
    margin: 10px 5px;
    text-align: center;
    height: 400px;
    width: 250px;
    border: 1px black solid;
    float: left;
    border-radius: 5px;
}

#probox > img {
    margin-top: 5px;
    width: 175px;

}

#price {
    margin-top: 30px;
}

#products {
    margin: 10px 10px;
    text-align: center;
    height: 350px;
    width: 250px;
    border: 1px black solid;
    float: left;
    border-radius: 5px;
}

#products > img {
    margin-top: 5px;
    width: 175px;

}

#desc {
    margin-top: 50px;
    margin-left: 20px;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px black solid;

}

#leftpart {

    float: left;
    width: 40%;
}

#rightpart {
    border-left: 1px solid black;
    float: left;
    width: 30%;
}

.link{
    color: #FFF;
}

.link:hover {
    color: #FFF;
    text-decoration: underline;
}

#arrows{
    font-size: 40px;
    text-align: center;
}

div#probox:nth-child(-n+5){

    display: none;

}

#basketmain {

    width: 100%;


}

#basketleft {
    float: left;
    width: 70%;
    height: 100%;
    padding-left: 100px;
    padding-top: 50px;

}


#basketleft > h1 {
    text-align: left;
    border-bottom: 1px solid black;
    width: 90%;
}

#basketright > h1{

    text-align: center;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

#basketleftinner {
    margin-top: 70px;
    width: 90%;

}

#basketleftinner > table {

    width: 100%;

}
#basketimg {

    width: 100px;

}

#baskettitle {
    font-size: 20px;
    padding: 0 10px;
}


#basketleftinner > table, td,tr {border-right: 1px solid black;}


#basketleftinner > tr:nth-last-child(1) {
    padding-bottom: 200px;
}

#basketright {
    float: left;
    width: 30%;
    height: 100%;
    padding-top: 50px;

}

#line {
    border-bottom: 10px solid black;
    width: 100%;
    clear: both;
}

.paymethod{

    left: 15%;
    margin-bottom: 50px;
}


#payout {

    background-color: #c6c8ca;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 80%;
}

.borderbottom
{ border-bottom: 1px black solid;}


.center {text-align: center;
    margin: 0 auto; color: yellow}